<div class="container">
  <h1> All our fantastics cars!!! </h1>
  <% @cars.each do |car| %>
    <%= car.brand %>
     / Price : <%= car.price %>Simflouz
    <%= link_to "see the car", car_path(car) %><br><br>
  <% end %>
</div>
