<div class="container">
  <h1> Voici toutes nos fantastiques voitures!!! </h1>
  <% @cars.each do |car| %>
    <%= car.brand %>
     / Prix : <%= car.price %> Simflouz
    <%= link_to "Voir la voiture", car_path(car) %><br><br>
  <% end %>
</div>
